/*
 * Empty Stylesheet file.
 */

@font-face {
    font-family: 'Inter Light';
    src: url('../font/Inter-Light.ttf') ;
}

@font-face {
    font-family: 'Inter Black';
    src: url('../font/Inter-Black.ttf') ;
}

.mainFxmlClass {

}

.root{
    -fx-font: normal normal 18px "Inter Light" ;
    -fx-text-fill: #0C5070 ;
    -fx-background-color: #DBE2EF ;
}

.button {
    -fx-alignment: center ;
    -fx-text-fill: white ;
    -fx-text-alignment: center ;
    -fx-cursor: hand ;
    -fx-effect: dropshadow(one-pass-box, #0C5070, 10, 0.3, 0, 0) ;
    -fx-background-color: linear-gradient(#11719E,#0C5070) ; 
}

.button:hover {
    -fx-background-color: linear-gradient(#0C5070,#11719E) ; 
    -fx-text-fill: #D1AC6D ;
    -fx-underline: true ;
}

.separator .line{
    -fx-border-color: #D1AC6D;
    -fx-border-width: 2 ;
}

.titled-pane > .title
{
    -fx-font: normal normal 18px 'Inter Black';
}


.titled-pane > .title > .text
{
    -fx-fill: #0C5070;
}

.table-view .column-header {
    -fx-font: normal normal 16px 'Inter Black';
    -fx-fill: #0C5070;
}